{% extends 'home/base.html' %}

{% block plus %}
{% endblock %}

{% block content %}
<table class="ex1">
  <tr>
    <td width=8cm>
	<b>Kelembagaan:</b></br>
	- <a href="/pt/">Kampus</a></br>
	- <a href="/pts/">PTS</a></br>
	- <a href="/prod/">Prodi</a></br>
	</td>
	<td width=8cm>
	<b>Kepegawaian:</b></br>
	- <a href="/pegw/">Pegawai</a></br>
	- <a href="/sk/">SK</a></br>
	</td>
  </tr>
  <tr>
    <td width=8cm>
	<b>Keakademian:</b></br>
	- <a href="/tkrs/">Jadwal</a> pengisian KRS</br>
	- <a href="/mkul/">Matakuliah</a></br>
	- <a href="/tugm/">Tugasmengajar</a>/Mataajar yang ditawarkan</br>
	- <a href="/pemb/">Pembimbing</a></br>
	- <a href="/kelu/">Kelulusan</a></br>
	- <a href="/khs/">KHS</a></br>
	- <a href="/ijaz/">Ijazah</a></br>
	</td>
	<td width=8cm>
	<b>Kemahasiswaan:</b></br>
	- <a href="/maha/">Mahasiswa</a></br>
	- Pengisian <a href="/krs">KRS</a></br>
	- <a href="/pbay/">Pembayaran</a></br>	
	</td>
  </tr>
  <tr>
    <td width=8cm>
	</td>
	<td width=8cm>
	- <a href="/info/">Informasi</a></br>
	</td>
  </tr>
</table>
{% endblock %}

