{% extends 'home/base.html' %}

{% block plus %}
	<a href="{% url 'tkrs_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}

{% block content %}
	<b>Jadwal KRS lists...</b></br>
	<div class="post">
		{% for i in tk %}
			<a href="{% url 'tkrs_detail' pk=i.idx %}">{{ i.idx }}</a>
			{{ i.tahunakademik }} 
			{{ i.tgldaftarA }}
			{{ i.tgldaftarB }} 
			{{ i.tglubahA }}
			{{ i.tglubahB }}
			{{ i.tglkuliahA }}
			{{ i.tglkuliahB }}
			{{ i.pts|linebreaks }}
		{% endfor %}
	</div>
{% endblock %}

