{% extends 'home/base.html' %}

{% block plus %}
	<a href="{% url 'tugm_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}

{% block content %}
	<b>Tugasmengajar detail...</b><br>
	<div class="post">
		<a class="btn btn-default" href="{% url 'tugm_edit' pk=tg.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><br>
		<p>{{ tg.idx }}<br>
		<p>{{ tg.sks }}</p>
		<p>{{ tg.tahunakademik }}</p> 
		<p>{{ tg.dayatampung }}</p> 
		<h1>{{ tg.dosen }}</h1> 
		<p>{{ tg.kelompok }}</p> 
		<p>{{ tg.matakuliah|linebreaks }}</p>
	</div>
{% endblock %}
